In [17]:
import csv

In [18]:
with open("wine-data.csv", 'r', encoding="utf-8") as f:
    wines = list(csv.reader(f))

In [19]:
wines[:5]

[['',
  'country',
  'description',
  'designation',
  'points',
  'price',
  'province',
  'region_1',
  'region_2',
  'taster_name',
  'taster_twitter_handle',
  'title',
  'variety',
  'winery'],
 ['0',
  'Italy',
  "Aromas include tropical fruit, broom, brimstone and dried herb. The palate isn't overly expressive, offering unripened apple, citrus and dried sage alongside brisk acidity.",
  'Vulkà Bianco',
  '87',
  '',
  'Sicily & Sardinia',
  'Etna',
  '',
  'Kerin O’Keefe',
  '@kerinokeefe',
  'Nicosia 2013 Vulkà Bianco  (Etna)',
  'White Blend',
  'Nicosia'],
 ['1',
  'Portugal',
  "This is ripe and fruity, a wine that is smooth while still structured. Firm tannins are filled out with juicy red berry fruits and freshened with acidity. It's  already drinkable, although it will certainly be better from 2016.",
  'Avidagos',
  '87',
  '15.0',
  'Douro',
  '',
  '',
  'Roger Voss',
  '@vossroger',
  'Quinta dos Avidagos 2011 Avidagos Red (Douro)',
  'Portuguese Red',
  'Quinta dos Avidagos'],
 ['2',
  'US',
  'Tart and snappy, the flavors of lime flesh and rind dominate. Some green pineapple pokes through, with crisp acidity underscoring the flavors. The wine was all stainless-steel fermented.',
  '',
  '87',
  '14.0',
  'Oregon',
  'Willamette Valley',
  'Willamette Valley',
  'Paul Gregutt',
  '@paulgwine\xa0',
  'Rainstorm 2013 Pinot Gris (Willamette Valley)',
  'Pinot Gris',
  'Rainstorm'],
 ['3',
  'US',
  'Pineapple rind, lemon pith and orange blossom start off the aromas. The palate is a bit more opulent, with notes of honey-drizzled guava and mango giving way to a slightly astringent, semidry finish.',
  'Reserve Late Harvest',
  '87',
  '13.0',
  'Michigan',
  'Lake Michigan Shore',
  '',
  'Alexander Peartree',
  '',
  'St. Julian 2013 Reserve Late Harvest Riesling (Lake Michigan Shore)',
  'Riesling',
  'St. Julian']]

In [20]:
# reset wine's list so headers aren't included
wines = wines[1:]

wines[:5]

In [21]:
#  extracting points column, 5th index,  from wines list. 
points = [float(w[4]) for w in wines]

In [25]:
##  look at data with pandas
import pandas as pd

df = pd.read_csv("wine-data.csv")
df.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

##  Measures of Central Tendencies

## Calcualting Mean

In [23]:
sum_points = sum(points)
print(sum_points)

11495563.0

In [27]:
#how many rows of data
num_points = len(points)
print(num_points)

129971

In [29]:
mean_points = sum_points / num_points
print(mean_points)

88.44713820775404

## Calculating Median

In [30]:
sorted_points = sorted(points)

In [ ]:
### have odd # of values from num_points above

In [33]:
##  know its odd value, so adding 0.5 t it.
middle_value =  int((num_points/2) + 0.5) 
print(middle_value)

64986

In [34]:
median_points = sorted_points[middle_value]
print(median_points)

88.0

### median is not far from mean, so there is not many outliers

In [35]:
min_points = min(points)
print(min_points)

80.0

In [36]:
max_points = max(points)
print(max_points)

100.0

### Calculating Mode

In [39]:
point_counts = {}

for p in points:
    if p not in point_counts:
        point_counts[p] = 1  #  add new key  to dict as point and 1 as value
    else:
        point_counts[p] += 1 # point is in dict, than add 1 to value

In [40]:
point_counts

{87.0: 16933,
 86.0: 12600,
 85.0: 9530,
 88.0: 17207,
 92.0: 9613,
 91.0: 11359,
 90.0: 15410,
 89.0: 12226,
 83.0: 3025,
 82.0: 1836,
 81.0: 692,
 80.0: 397,
 100.0: 19,
 98.0: 77,
 97.0: 229,
 96.0: 523,
 95.0: 1535,
 93.0: 6489,
 94.0: 3758,
 84.0: 6480,
 99.0: 33}

In [42]:
##  i know what ever I see will be atleast 1, 
maxp = 0   #value from dictionary (# of times seen)
mode_points = None     # key from dictionary (point value)
#manual sort

# after first happens , will set, then will compare to each current winner..

for k, v in point_counts.items():
    if maxp < v:
        maxp = v
        
        mode_points = k

In [43]:
print(f"The mode is {mode_points} and it was seen {maxp} times!")

The mode is 88.0 and it was seen 17207 times!

### Measures of Spread

## Range and IQR (Interquartile range)

In [45]:
points_range = max_points - min_points
print(points_range)

20.0

### Calculating Standard Deviation

In [81]:
def std_dev(nums):
    """Calculates standard deviation.  The variable nums will be a list."""
    diffs = 0
    avg = sum(nums) / len(nums)    #This is the mean
    
    for n in nums:
        diffs += (n - avg)**2
        
        std = (diffs / len(nums))**0.5  ## the sq root of something is **0.5
    
    return std

In [82]:
points_std = std_dev(points)
print(points_std)

3.0397185090150947

In [51]:
df.describe()

          Unnamed: 0         points          price
count  129971.000000  129971.000000  120975.000000
mean    64985.000000      88.447138      35.363389
std     37519.540256       3.039730      41.022218
min         0.000000      80.000000       4.000000
25%     32492.500000      86.000000      17.000000
50%     64985.000000      88.000000      25.000000
75%     97477.500000      91.000000      42.000000
max    129970.000000     100.000000    3300.000000

In [83]:
print(f"Median {median_points}")

Median 88.0

In [84]:
#find the values below the median (50%)
low_50 = sorted_points[:middle_value]
print(len(low_50))

64986

In [85]:
#find the value of the 25% quartile
qtl_25 = int((len(low_50))/2)
q1 = sorted_points[qtl_25]

In [86]:
###find the middle value of high_50 list(75% quartile)

In [87]:
# find the values above the median (top 50%)
high_50 = sorted_points[middle_value:]
print(len(high_50))

64985

In [88]:
#find middle value of high_50 list (75% quartile)
qtl_75 = int((len(high_50)) / 2)

q3 = high_50[qtl_75]

In [89]:
IQR = q3 - q1
print(IQR)

5.0

In [90]:
low_outlier = q1 - ( 1.5 * IQR)
high_outlier = q3 + (1.5 * IQR)

print(low_outlier)

78.5

In [91]:
print(f"Lowest cutoff for outliers: {low_outlier}")
print(f"Highest cutoff for outliers: {high_outlier}")

Lowest cutoff for outliers: 78.5
Highest cutoff for outliers: 98.5

In [71]:
# find the values below the median (50%)
low_50 = points[:middle_value]
print(len(low_50))

64986