# Feature Scaling for DC Residen Properties

In [11]:
import pandas as pd

#preprocessing functions will be used to standardize/normalize data
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from datetime import datetime  #to convert data to datetime that does not fall within the pandas.to_datetime function timeframe
%matplotlib inline

In [2]:
filepath = "datasets/DC_Properties.csv"

dc_df = pd.read_csv(filepath)
dc_df.head()

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (18,19,20,21,22,23,24,33,34,35,37,43,45) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,BATHRM,HF_BATHRM,HEAT,AC,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,...,LONGITUDE,ASSESSMENT_NBHD,ASSESSMENT_SUBNBHD,CENSUS_TRACT,CENSUS_BLOCK,WARD,SQUARE,X,Y,QUADRANT
0,0,4,0,Warm Cool,Y,2.0,8,4,1910.0,1988.0,...,-77.040832,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
1,1,3,1,Warm Cool,Y,2.0,11,5,1898.0,2007.0,...,-77.040764,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
2,2,3,1,Hot Water Rad,Y,2.0,9,5,1910.0,2009.0,...,-77.040678,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
3,3,3,1,Hot Water Rad,Y,2.0,8,5,1900.0,2003.0,...,-77.040629,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
4,4,2,1,Warm Cool,Y,1.0,11,3,1913.0,2012.0,...,-77.039361,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW

In [3]:
#check if any missing values in the data
dc_df.count()

Unnamed: 0            158957
BATHRM                158957
HF_BATHRM             158957
HEAT                  158957
AC                    158957
NUM_UNITS             106696
ROOMS                 158957
BEDRM                 158957
AYB                   158686
YR_RMDL                80928
EYB                   158957
STORIES               106652
SALEDATE              132187
PRICE                  98216
QUALIFIED             158957
SALE_NUM              158957
GBA                   106696
BLDG_NUM              158957
STYLE                 106696
STRUCT                106696
GRADE                 106696
CNDTN                 106696
EXTWALL               106696
ROOF                  106696
INTWALL               106696
KITCHENS              106695
FIREPLACES            158957
USECODE               158957
LANDAREA              158957
GIS_LAST_MOD_DTTM     158957
SOURCE                158957
CMPLX_NUM              52261
LIVING_GBA             52261
FULLADDRESS           106040
CITY                  106051
STATE                 106051
ZIPCODE               158956
NATIONALGRID          106051
LATITUDE              158956
LONGITUDE             158956
ASSESSMENT_NBHD       158956
ASSESSMENT_SUBNBHD    126406
CENSUS_TRACT          158956
CENSUS_BLOCK          106051
WARD                  158956
SQUARE                158957
X                     158720
Y                     158720
QUADRANT              158720
dtype: int64

In [6]:
#only include rows with non-null price 
newdc_df = dc_df.loc[(dc_df['PRICE'].notnull())]#got rid of records with missing price
newdc_df.count()

Unnamed: 0            98216
BATHRM                98216
HF_BATHRM             98216
HEAT                  98216
AC                    98216
NUM_UNITS             57900
ROOMS                 98216
BEDRM                 98216
AYB                   98104
YR_RMDL               57674
EYB                   98216
STORIES               57867
SALEDATE              98215
PRICE                 98216
QUALIFIED             98216
SALE_NUM              98216
GBA                   57900
BLDG_NUM              98216
STYLE                 57900
STRUCT                57900
GRADE                 57900
CNDTN                 57900
EXTWALL               57900
ROOF                  57900
INTWALL               57900
KITCHENS              57899
FIREPLACES            98216
USECODE               98216
LANDAREA              98216
GIS_LAST_MOD_DTTM     98216
SOURCE                98216
CMPLX_NUM             40316
LIVING_GBA            40316
FULLADDRESS           57565
CITY                  57569
STATE                 57569
ZIPCODE               98216
NATIONALGRID          57569
LATITUDE              98216
LONGITUDE             98216
ASSESSMENT_NBHD       98216
ASSESSMENT_SUBNBHD    77961
CENSUS_TRACT          98216
CENSUS_BLOCK          57569
WARD                  98216
SQUARE                98216
X                     98115
Y                     98115
QUADRANT              98115
dtype: int64

In [7]:
newdc_df.describe()

,Unnamed: 0,BATHRM,HF_BATHRM,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,EYB,STORIES,...,USECODE,LANDAREA,CMPLX_NUM,LIVING_GBA,ZIPCODE,LATITUDE,LONGITUDE,CENSUS_TRACT,X,Y
count,98216.000000,98216.000000,98216.000000,57900.000000,98216.000000,98216.000000,98104.000000,57674.000000,98216.000000,57867.000000,...,98216.000000,98216.000000,40316.000000,40316.000000,98216.000000,98216.000000,98216.000000,98216.000000,98115.000000,98115.000000
mean,85324.149802,1.859157,0.444541,1.221071,5.921836,2.606480,1944.903888,2000.666748,1965.759876,2.124667,...,14.613393,2084.296123,2442.438337,882.090907,20012.303525,38.913911,-77.018076,5289.710220,-77.018101,38.913903
std,47633.750491,0.978321,0.576217,0.623997,2.637816,1.393801,36.254098,16.136807,27.500116,3.948764,...,3.683449,2765.429658,1136.998556,406.013673,16.326982,0.030185,0.039794,3288.288804,0.039786,0.030161
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1754.000000,20.000000,1800.000000,0.000000,...,11.000000,0.000000,1001.000000,199.000000,20001.000000,38.819731,-77.113909,100.000000,-77.113135,38.820576
25%,43005.500000,1.000000,0.000000,1.000000,4.000000,2.000000,1917.000000,1991.000000,1954.000000,2.000000,...,11.000000,482.000000,1586.750000,619.000000,20005.000000,38.895973,-77.042758,2201.000000,-77.042768,38.895753
50%,89420.500000,2.000000,0.000000,1.000000,6.000000,3.000000,1939.000000,2005.000000,1965.000000,2.000000,...,13.000000,1380.000000,2282.000000,781.000000,20010.000000,38.914207,-77.021489,5002.000000,-77.021262,38.914181
75%,128346.500000,2.000000,1.000000,1.000000,7.000000,3.000000,1966.000000,2011.000000,1981.000000,2.000000,...,17.000000,2556.000000,2972.000000,1049.000000,20017.000000,38.933797,-76.990601,8100.000000,-76.990849,38.933756
max,158955.000000,12.000000,11.000000,6.000000,31.000000,20.000000,2018.000000,2019.000000,2018.000000,826.000000,...,117.000000,187301.000000,5621.000000,8553.000000,20392.000000,38.995435,-76.909758,11100.000000,-76.910511,38.993646

In [10]:
#create a dataframe with columns I want to use in the model
modeldf = newdc_df[['BATHRM', 'ROOMS', 'BEDRM', 'FIREPLACES', 'GRADE', 'STORIES', 'SALEDATE', 'PRICE']]
modeldf.head()

   BATHRM  ROOMS  BEDRM  FIREPLACES      GRADE             SALEDATE      PRICE
0       4      8      4           5  Very Good  2003-11-25 00:00:00  1095000.0
2       3      9      5           4  Very Good  2016-06-21 00:00:00  2100000.0
3       3      8      5           3  Very Good  2006-07-12 00:00:00  1602000.0
5       3     10      5           4  Very Good  2010-02-26 00:00:00  1950000.0
7       3      8      4           1  Very Good  2011-09-29 00:00:00  1050000.0

In [ ]:
#only dataframe with non-null year column values
modeldf = modeldf.loc[modeldfdf['SALEDATE'].notnull()]

#change year column into a string
#need to use string type for getYear function below
modeldf['YEAR'] = meteor_df['year'].astype(str)

In [12]:
#function to split apart the date from the timestamp
#split string where there is T
def getYear(col):
    #get YYYY-MM-DD value
    date = col.split("T")[0]#because [0] is 1st item after split
    
    #extract year from date
    SALEDATE = datetime.strptime(date, '%Y-%m-%d')
    return dt.year #other ways, dt.month or dt.year

In [13]:
#replace the year timestamp data with only the year (using the getYear function)
modeldf['SalesYEAR'] = modeldf['SALEDATE'].apply(getYear)
meteor_df.head()

ValueError: unconverted data remains:  00:00:00

In [ ]:
#replace empty cells with 0
df.fillna(0)

In [ ]:
#drop a column
df.drop('PhD', axis=1)